/* Font Family Azeret Mono */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Azeret Mono", monospace;
  margin: 0px;
  padding: 0px auto;
  max-width: 1340px;
  box-sizing: border-box;
}

/* Shared style   */

nav {
  display: flex;
  max-width: 1000px;
  margin: 0px auto;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 38px;
}
.nav-tittle {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
}
.nav-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  width: 244px;
  height: 57px;
  border-radius: 8px;
}

.nav-btn:hover {
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  color: #fff;
}
.hero {
  background-image: url("/assets/Hero-bg.png");
}

.hero-content {
  max-width: 1000px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 28px;
}
.hero-tittle {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  margin: 24px 0;
}
/* header > .h */

.tittle-descriotion {
  color: rgb(13, 19, 33);

  font-size: 16px;
  font-weight: 400;
}
.hero-btn {
  border-radius: 8px;

  background: rgb(13, 19, 33);
  margin: 32px 0px;
  color: #fff;
  width: 244px;
  height: 65px;
}
.hero-btn > a {
  text-decoration: none;
  color: #fff;
}

body > main {
  max-width: 1000px;
  margin: 0px auto;
}

.developer-section {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.develpoer-header {
  justify-content: center;
  text-align: center;
  margin: 154px auto 0px;
  width: 852px;
  color: rgb(13, 19, 33);
}
.devlopment-tittle {
  font-size: 32px;
}
.development-description {
  margin-top: 40px;
}
.developer-content {
  /* border: red solid 2px; */
  display: flex;
  margin: 0 auto;
  width: 850px;
  height: 280px;
  background-color: #fff;
  margin: 80px 97px;
  gap: 30px;
  justify-content: space-between;
}

.developer-content-text {
  width: 477px;
  height: 219px;
  padding: 48px 0 0 48px;
  /* padding: 48px; */
}

.developer-img > img {
  width: 259.56px;
  height: 217.01px;
  /* padding: 48px; */
}
.developer-content-tittle {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}
.developer-content-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  padding: 16px 0px;
}

.developer-content-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: ;
  width: 171px;
  height: 47px;
  padding: 12px 20px 12px 20px;
}
.developer-content-btn:hover {
  color: wheat;
  border: dotted 1px #000000;
  background-color: #3d3636;
}
.flex-revarce {
  flex-direction: row-reverse;
}

/* My Inspiration */
.inspiration-content {
  margin: 90px auto 48px;
  max-width: 650px;
  text-align: center;
  gap: 20px;
}

.inspiration-tittle {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.inspiration-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0px 48px;
}
.inspiration-video {
  border-radius: 26px;
}
/* My Current Target */
.target-text {
  text-align: center;
  width: 700px;
  margin: 48px auto;
}
.target-header {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.target-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  opacity: 0.7;
}
.target-box {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background: rgb(255, 255, 255);
}

.target-img > img {
  width: 95px;
  height: 85px;
  margin: 70px 0px 0px 20px;
  /* position: ; */
}
.target-content {
  padding: 40px;
}
.target-tittle {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
}
.target-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px 24px;
}

/* Current Section  */
.current {
  display: flex;
  gap: 20px;
}
.current-content {
  border-radius: 16px;
  padding: 40px;
}
.current-color-1 {
  background: rgba(255, 76, 30, 0.05);
}
.current-color-2 {
  background: rgba(0, 76, 232, 0.05);
}
.current-color-3 {
  background: rgba(255, 223, 0, 0.05);
}

.current-tittle {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  margin: 16px 10px;
}
.current-paragraph {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin: 24px 10px;
}
.current-more {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  margin: 16px 10px;
}

/* I need Support */

.support-section {
  border-radius: 16px;
  background: url("/assets/handshake.jpg"), rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  width: 1000px;
  margin: 49px auto 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 313px;
}

.support-tittle {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.support-para {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  width: 606px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}

.support-input {
  margin-top: 16px;
  display: flex;
}

.support-input input {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  color: rgba(13, 19, 33, 0.4);
  width: 500px;
  background: rgb(255, 255, 255);
}

.support-input button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  cursor: pointer;
  margin-left: 10px;
  width: 100px;
}

.support-input button:hover {
  background-color: rgb(109, 187, 206);
  transform: scale(1.2);
}

/* Footer Style  */

footer {
  border-radius: 16px;
  justify-content: center;
  text-align: center;
  background: rgba(13, 19, 33, 0.03);
  padding: 20px;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.footer-text {
  color: rgb(13, 19, 33);
  font-size: 18px;
}

.social-icon {
  margin: 0 10px;
  opacity: 1;
  transition: color 0.3s, transform 0.3s;
  font-size: 24px;
}

.social-icon:hover {
  color: wheat;
  transform: scale(1.2);
}
